<div class="movie-card max-w-55 rounded-lg shadow-xl overflow-hidden">
  <a href="#">
    <img
      class="aspect-[2/3] w-full h-auto object-cover transition-transform duration-300 ease-in-out transform hover:scale-102"
      src="/test2.png"
      alt="Terminator 2: Judgment Day Poster"
    />
  </a>
  <div class="p-5">
    <p class="mb-2 text-base font-bold text-gray-700 dark:text-gray-400">
      8.1/10
    </p>
    <h5
      class="min-h-[3.5rem] line-clamp-2 whitespace-pre-line text-lg font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Terminator 2: Judgment Day
    </h5>
  </div>
</div>
