<header class="border-b shadow-xl">
  <div class="container mx-auto flex items-center justify-between p-2">
    <a href="/" class="text-xl font-bold">MovieDatabase</a>
    <div class="flex items-center">
      <nav class="mr-7">
        <button
          appearance="action-destructive"
          tuiButton
          size="m"
          type="button"
        >
          Movies
        </button>
        <button
          appearance="action-destructive"
          tuiButton
          size="m"
          type="button"
        >
          Actors
        </button>
        <button
          class="text-xl font-bold"
          appearance="action-destructive"
          tuiButton
          size="m"
          type="button"
        >
          TV series
        </button>
        <button
          class="text-xl font-bold ml-4"
          appearance="secondary-destructive"
          tuiButton
          size="m"
          type="button"
        >
          Login
        </button>
        <button
          class="abc text-xl font-bold ml-2"
          appearance="secondary-destructive"
          tuiButton
          size="m"
          type="button"
        >
          Register
        </button>
      </nav>
      <input tuiSwitch type="checkbox" />
    </div>
  </div>
</header>
